In [110]:
import pandas as pd
import numpy as np

In [111]:
webster_cencus = pd.read_csv("/Users/brandonyu/Downloads/Blockgroups to ESAA Spreadsheet with student counts - Webster ESAA Census (1).csv")
webster_data = pd.read_csv("/Users/brandonyu/Downloads/Blockgroups to ESAA Spreadsheet with student counts - Webster BlockGroup Data.csv")

In [112]:
webster_cencus.head()

,E_AA_NAME,Label (Grouping),Geoid1,Weighted HH Inc,Median HH Income,Count of current SFUSD Kindergarten students,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,...,Total:!!American Indian and Alaska Native alone,Total:!!Native Hawaiian and Other Pacific Islander alone,% White,% Asian,% Two or More,% Black,% Other,% American Indian,% Pacific Islander,Unnamed: 23
0,NaN,TOTAL or Average,NaN,"35,623","$143,575",NaN,"49,955","90,551","90,551","36,428",...,734,363,40.2%,35.7%,9.5%,6.9%,6.5%,0.8%,0.4%,100.0%
1,WEBSTER,Block Group 1; Census Tract 124.05; San Franci...,6.075012e+10,$836,"$42,383",NaN,703,"1,332","1,332",512,...,19,3,38.4%,15.3%,10.1%,17.0%,17.6%,1.4%,0.2%,100.0%
2,WEBSTER,Block Group 1; Census Tract 176.02; San Franci...,6.075018e+10,$0,NaN,NaN,953,"1,898","1,898",545,...,26,3,28.7%,37.8%,7.0%,14.0%,11.0%,1.4%,0.2%,100.0%
3,WEBSTER,Block Group 1; Census Tract 176.03; San Franci...,6.075018e+10,"$1,527","$73,403",NaN,741,"1,151","1,151",430,...,14,2,37.4%,37.5%,9.2%,9.2%,5.3%,1.2%,0.2%,100.0%
4,WEBSTER,Block Group 1; Census Tract 176.04; San Franci...,6.075018e+10,"$2,436","$123,944",NaN,700,921,921,350,...,4,2,38.0%,44.0%,8.1%,3.8%,5.4%,0.4%,0.2%,100.0%

In [113]:
webster_cencus = webster_cencus.drop(columns=["E_AA_NAME", "Count of current SFUSD Kindergarten students", "Unnamed: 23"])

In [114]:
webster_cencus.head()

,Label (Grouping),Geoid1,Weighted HH Inc,Median HH Income,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,Total:!!Two or More Races,...,Total:!!Some Other Race alone,Total:!!American Indian and Alaska Native alone,Total:!!Native Hawaiian and Other Pacific Islander alone,% White,% Asian,% Two or More,% Black,% Other,% American Indian,% Pacific Islander
0,TOTAL or Average,NaN,"35,623","$143,575","49,955","90,551","90,551","36,428","32,359",8561,...,5884,734,363,40.2%,35.7%,9.5%,6.9%,6.5%,0.8%,0.4%
1,Block Group 1; Census Tract 124.05; San Franci...,6.075012e+10,$836,"$42,383",703,"1,332","1,332",512,204,134,...,234,19,3,38.4%,15.3%,10.1%,17.0%,17.6%,1.4%,0.2%
2,Block Group 1; Census Tract 176.02; San Franci...,6.075018e+10,$0,NaN,953,"1,898","1,898",545,717,133,...,209,26,3,28.7%,37.8%,7.0%,14.0%,11.0%,1.4%,0.2%
3,Block Group 1; Census Tract 176.03; San Franci...,6.075018e+10,"$1,527","$73,403",741,"1,151","1,151",430,432,106,...,61,14,2,37.4%,37.5%,9.2%,9.2%,5.3%,1.2%,0.2%
4,Block Group 1; Census Tract 176.04; San Franci...,6.075018e+10,"$2,436","$123,944",700,921,921,350,405,75,...,50,4,2,38.0%,44.0%,8.1%,3.8%,5.4%,0.4%,0.2%

In [115]:
webster_cencus = webster_cencus.iloc[1:, :]

In [116]:
webster_cencus.head()

,Label (Grouping),Geoid1,Weighted HH Inc,Median HH Income,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,Total:!!Two or More Races,...,Total:!!Some Other Race alone,Total:!!American Indian and Alaska Native alone,Total:!!Native Hawaiian and Other Pacific Islander alone,% White,% Asian,% Two or More,% Black,% Other,% American Indian,% Pacific Islander
1,Block Group 1; Census Tract 124.05; San Franci...,6.075012e+10,$836,"$42,383",703,"1,332","1,332",512,204,134,...,234,19,3,38.4%,15.3%,10.1%,17.0%,17.6%,1.4%,0.2%
2,Block Group 1; Census Tract 176.02; San Franci...,6.075018e+10,$0,NaN,953,"1,898","1,898",545,717,133,...,209,26,3,28.7%,37.8%,7.0%,14.0%,11.0%,1.4%,0.2%
3,Block Group 1; Census Tract 176.03; San Franci...,6.075018e+10,"$1,527","$73,403",741,"1,151","1,151",430,432,106,...,61,14,2,37.4%,37.5%,9.2%,9.2%,5.3%,1.2%,0.2%
4,Block Group 1; Census Tract 176.04; San Franci...,6.075018e+10,"$2,436","$123,944",700,921,921,350,405,75,...,50,4,2,38.0%,44.0%,8.1%,3.8%,5.4%,0.4%,0.2%
5,Block Group 1; Census Tract 177; San Francisco...,6.075018e+10,"$1,056","$165,789",227,"1,041","1,041",467,233,89,...,89,8,7,44.9%,22.4%,8.5%,14.2%,8.5%,0.8%,0.7%

In [117]:
webster_cencus["Block Group"] = webster_cencus["Label (Grouping)"].str.extract(r'Group\s(\d)').astype(int)

In [118]:
webster_cencus["Block Group"]

1     1
2     1
3     1
4     1
5     1
     ..
63    3
64    3
65    4
66    4
67    4
Name: Block Group, Length: 67, dtype: int64

In [119]:
webster_cencus["Cencus Tract"] = webster_cencus["Label (Grouping)"].str.extract(r'Tract\s(\d+\.*\d+)').astype(float)

In [120]:
webster_cencus["Cencus Tract"]

1     124.05
2     176.02
3     176.03
4     176.04
5     177.00
       ...
63    615.06
64    615.08
65    176.03
66    178.04
67    180.00
Name: Cencus Tract, Length: 67, dtype: float64

In [121]:
columns = webster_cencus.columns.tolist()
reordered_columns = [columns[-2], columns[-1]] + columns[:-2]
webster_cencus = webster_cencus[reordered_columns]
webster_cencus = webster_cencus.drop(columns=["Label (Grouping)"])
webster_cencus.head()

,Block Group,Cencus Tract,Geoid1,Weighted HH Inc,Median HH Income,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,...,Total:!!Some Other Race alone,Total:!!American Indian and Alaska Native alone,Total:!!Native Hawaiian and Other Pacific Islander alone,% White,% Asian,% Two or More,% Black,% Other,% American Indian,% Pacific Islander
1,1,124.05,6.075012e+10,$836,"$42,383",703,"1,332","1,332",512,204,...,234,19,3,38.4%,15.3%,10.1%,17.0%,17.6%,1.4%,0.2%
2,1,176.02,6.075018e+10,$0,NaN,953,"1,898","1,898",545,717,...,209,26,3,28.7%,37.8%,7.0%,14.0%,11.0%,1.4%,0.2%
3,1,176.03,6.075018e+10,"$1,527","$73,403",741,"1,151","1,151",430,432,...,61,14,2,37.4%,37.5%,9.2%,9.2%,5.3%,1.2%,0.2%
4,1,176.04,6.075018e+10,"$2,436","$123,944",700,921,921,350,405,...,50,4,2,38.0%,44.0%,8.1%,3.8%,5.4%,0.4%,0.2%
5,1,177.00,6.075018e+10,"$1,056","$165,789",227,"1,041","1,041",467,233,...,89,8,7,44.9%,22.4%,8.5%,14.2%,8.5%,0.8%,0.7%

In [122]:
webster_data.head()

,E_AA_NAME,Label (Grouping),Geoid1,Median HH Income,23-24 K count,24-25 K count,Avg K Count,23-24 FRL K count,24-25 FRL K count,Avg FRL K Count,...,24-25 Asian,24-25 Hispanic,24-25 White,24-25 Black,24-25 Other,Avg K Asian,Avg K Hispanic,Avg K White,Avg K Black,Avg K Other
0,NaN,TOTAL or Average,NaN,"$143,802",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WEBSTER,Block Group 1; Census Tract 124.05; San Franci...,6.075012e+10,"$42,383",5.0,8.0,7.0,4.0,NaN,NaN,...,0.0,4.0,0.0,2.0,2.0,0.0,4.0,0.0,2.0,2.0
2,WEBSTER,Block Group 1; Census Tract 176.02; San Franci...,6.075018e+10,NaN,3.0,9.0,6.0,1.0,NaN,NaN,...,1.0,5.0,0.0,1.0,2.0,1.0,3.0,0.0,1.0,2.0
3,WEBSTER,Block Group 1; Census Tract 176.03; San Franci...,6.075018e+10,"$73,403",2.0,3.0,3.0,1.0,NaN,NaN,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
4,WEBSTER,Block Group 1; Census Tract 176.04; San Franci...,6.075018e+10,"$123,944",5.0,1.0,3.0,4.0,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0

In [123]:
webster_data = webster_data.iloc[1:, 2:]

In [124]:
webster_data.head()

,Geoid1,Median HH Income,23-24 K count,24-25 K count,Avg K Count,23-24 FRL K count,24-25 FRL K count,Avg FRL K Count,23-24 Asian,23-24 Hispanic,...,24-25 Asian,24-25 Hispanic,24-25 White,24-25 Black,24-25 Other,Avg K Asian,Avg K Hispanic,Avg K White,Avg K Black,Avg K Other
1,6.075012e+10,"$42,383",5.0,8.0,7.0,4.0,NaN,NaN,0.0,3.0,...,0.0,4.0,0.0,2.0,2.0,0.0,4.0,0.0,2.0,2.0
2,6.075018e+10,NaN,3.0,9.0,6.0,1.0,NaN,NaN,1.0,0.0,...,1.0,5.0,0.0,1.0,2.0,1.0,3.0,0.0,1.0,2.0
3,6.075018e+10,"$73,403",2.0,3.0,3.0,1.0,NaN,NaN,0.0,2.0,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
4,6.075018e+10,"$123,944",5.0,1.0,3.0,4.0,NaN,NaN,1.0,3.0,...,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0
5,6.075018e+10,"$165,789",0.0,2.0,1.0,0.0,NaN,NaN,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [125]:
webster_total = webster_cencus.merge(webster_data, left_on="Geoid1", right_on="Geoid1")

In [126]:
webster_total.head()

,Block Group,Cencus Tract,Geoid1,Weighted HH Inc,Median HH Income_x,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,...,24-25 Asian,24-25 Hispanic,24-25 White,24-25 Black,24-25 Other,Avg K Asian,Avg K Hispanic,Avg K White,Avg K Black,Avg K Other
0,1,124.05,6.075012e+10,$836,"$42,383",703,"1,332","1,332",512,204,...,0.0,4.0,0.0,2.0,2.0,0.0,4.0,0.0,2.0,2.0
1,1,176.02,6.075018e+10,$0,NaN,953,"1,898","1,898",545,717,...,1.0,5.0,0.0,1.0,2.0,1.0,3.0,0.0,1.0,2.0
2,1,176.03,6.075018e+10,"$1,527","$73,403",741,"1,151","1,151",430,432,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
3,1,176.04,6.075018e+10,"$2,436","$123,944",700,921,921,350,405,...,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0
4,1,177.00,6.075018e+10,"$1,056","$165,789",227,"1,041","1,041",467,233,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [127]:
cencus_tracts = pd.read_csv("/Users/brandonyu/Downloads/region_2020_censustract_9128033371162871599.csv")

In [128]:
cencus_tracts.head()

,objectid,statefp,countyfp,trctce,geoid,name_,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,Shape__Area,Shape__Length
0,1,6,85,NaN,6085504321,5043.21,Census Tract 5043.21,G5020,S,1450237,0,37.393132,-121.865143,0.000148,0.055275
1,2,6,85,NaN,6085504410,5044.10,Census Tract 5044.10,G5020,S,1102136,0,37.409372,-121.878888,0.000112,0.049825
2,3,6,85,NaN,6085507003,5070.03,Census Tract 5070.03,G5020,S,9529865,0,37.219994,-121.997951,0.000967,0.221781
3,4,6,85,NaN,6085507004,5070.04,Census Tract 5070.04,G5020,S,2424447,0,37.226014,-121.976382,0.000246,0.126127
4,5,6,85,NaN,6085502204,5022.04,Census Tract 5022.04,G5020,S,331145,0,37.301383,-121.925842,0.000034,0.031206

In [129]:
print(webster_total["Geoid1"].dtype)
print(cencus_tracts["geoid"].dtype)

float64
int64

In [130]:
webster_total["Geoid1"] = webster_total["Geoid1"].astype(str).str[:10]

In [131]:
cencus_tracts["geoid"]

0       6085504321
1       6085504410
2       6085507003
3       6085507004
4       6085502204
           ...
1767    6013313102
1768    6013314102
1769    6013316000
1770    6013366002
1771    6013367200
Name: geoid, Length: 1772, dtype: int64

In [132]:
print(webster_total["Geoid1"].dtype)
print(cencus_tracts["geoid"].dtype)

object
int64

In [133]:
webster_total["Geoid1"] = webster_total["Geoid1"].astype(int)

In [134]:
geo_total = webster_total.merge(cencus_tracts, left_on="Geoid1", right_on="geoid")

In [135]:
geo_total.head()

,Block Group,Cencus Tract,Geoid1,Weighted HH Inc,Median HH Income_x,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,...,name_,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,Shape__Area,Shape__Length
0,1,124.05,6075012405,$836,"$42,383",703,"1,332","1,332",512,204,...,124.05,Census Tract 124.05,G5020,S,295197,0,37.779519,-122.417462,0.000030,0.024195
1,1,176.02,6075017602,$0,NaN,953,"1,898","1,898",545,717,...,176.02,Census Tract 176.02,G5020,S,273225,0,37.782124,-122.407018,0.000028,0.025162
2,1,176.03,6075017603,"$1,527","$73,403",741,"1,151","1,151",430,432,...,176.03,Census Tract 176.03,G5020,S,248651,0,37.776309,-122.414341,0.000025,0.023820
3,1,176.04,6075017604,"$2,436","$123,944",700,921,921,350,405,...,176.04,Census Tract 176.04,G5020,S,111719,0,37.779858,-122.411743,0.000011,0.015468
4,1,177.00,6075017700,"$1,056","$165,789",227,"1,041","1,041",467,233,...,177.00,Census Tract 177,G5020,S,904078,0,37.768044,-122.412492,0.000092,0.047902

In [136]:
geo_total["Weighted HH Inc Int"] = geo_total["Weighted HH Inc"].str[1:].str.split(',')
geo_total["Weighted HH Inc Int"] = geo_total["Weighted HH Inc Int"].apply(lambda lst: int(''.join(map(str, lst))))
geo_total["Weighted HH Inc Int"]

0      836
1        0
2     1527
3     2436
4     1056
      ...
62       0
63       0
64    3125
65       0
66       0
Name: Weighted HH Inc Int, Length: 67, dtype: int64

In [137]:
geo_total.head()

,Block Group,Cencus Tract,Geoid1,Weighted HH Inc,Median HH Income_x,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,...,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,Shape__Area,Shape__Length,Weighted HH Inc Int
0,1,124.05,6075012405,$836,"$42,383",703,"1,332","1,332",512,204,...,Census Tract 124.05,G5020,S,295197,0,37.779519,-122.417462,0.000030,0.024195,836
1,1,176.02,6075017602,$0,NaN,953,"1,898","1,898",545,717,...,Census Tract 176.02,G5020,S,273225,0,37.782124,-122.407018,0.000028,0.025162,0
2,1,176.03,6075017603,"$1,527","$73,403",741,"1,151","1,151",430,432,...,Census Tract 176.03,G5020,S,248651,0,37.776309,-122.414341,0.000025,0.023820,1527
3,1,176.04,6075017604,"$2,436","$123,944",700,921,921,350,405,...,Census Tract 176.04,G5020,S,111719,0,37.779858,-122.411743,0.000011,0.015468,2436
4,1,177.00,6075017700,"$1,056","$165,789",227,"1,041","1,041",467,233,...,Census Tract 177,G5020,S,904078,0,37.768044,-122.412492,0.000092,0.047902,1056

In [138]:
print(geo_total["Weighted HH Inc"].dtype)

object

In [139]:
weighted_median_bool = geo_total[geo_total['Weighted HH Inc Int'] != 0]
weighted_median = int(weighted_median_bool['Weighted HH Inc Int'].median())
weighted_median

2697

In [140]:
geo_total['Weighted HH Inc Int'] = geo_total['Weighted HH Inc Int'].replace(to_replace=0, value=weighted_median)

In [141]:
geo_total['Weighted HH Inc Int']

0      836
1     2697
2     1527
3     2436
4     1056
      ...
62    2697
63    2697
64    3125
65    2697
66    2697
Name: Weighted HH Inc Int, Length: 67, dtype: int64

In [142]:
geo_total["Median HH Income_x"] = geo_total["Median HH Income_x"].fillna("$0")

In [143]:
geo_total.head()

,Block Group,Cencus Tract,Geoid1,Weighted HH Inc,Median HH Income_x,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,...,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,Shape__Area,Shape__Length,Weighted HH Inc Int
0,1,124.05,6075012405,$836,"$42,383",703,"1,332","1,332",512,204,...,Census Tract 124.05,G5020,S,295197,0,37.779519,-122.417462,0.000030,0.024195,836
1,1,176.02,6075017602,$0,$0,953,"1,898","1,898",545,717,...,Census Tract 176.02,G5020,S,273225,0,37.782124,-122.407018,0.000028,0.025162,2697
2,1,176.03,6075017603,"$1,527","$73,403",741,"1,151","1,151",430,432,...,Census Tract 176.03,G5020,S,248651,0,37.776309,-122.414341,0.000025,0.023820,1527
3,1,176.04,6075017604,"$2,436","$123,944",700,921,921,350,405,...,Census Tract 176.04,G5020,S,111719,0,37.779858,-122.411743,0.000011,0.015468,2436
4,1,177.00,6075017700,"$1,056","$165,789",227,"1,041","1,041",467,233,...,Census Tract 177,G5020,S,904078,0,37.768044,-122.412492,0.000092,0.047902,1056

In [144]:
geo_total["Median HH Inc Int"] = geo_total["Median HH Income_x"].str[1:].str.split(',')
geo_total["Median HH Inc Int"] = geo_total["Median HH Inc Int"].apply(lambda lst: int(''.join(map(str, lst))))

In [145]:
geo_total.head()

,Block Group,Cencus Tract,Geoid1,Weighted HH Inc,Median HH Income_x,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,...,mtfcc,funcstat,aland,awater,intptlat,intptlon,Shape__Area,Shape__Length,Weighted HH Inc Int,Median HH Inc Int
0,1,124.05,6075012405,$836,"$42,383",703,"1,332","1,332",512,204,...,G5020,S,295197,0,37.779519,-122.417462,0.000030,0.024195,836,42383
1,1,176.02,6075017602,$0,$0,953,"1,898","1,898",545,717,...,G5020,S,273225,0,37.782124,-122.407018,0.000028,0.025162,2697,0
2,1,176.03,6075017603,"$1,527","$73,403",741,"1,151","1,151",430,432,...,G5020,S,248651,0,37.776309,-122.414341,0.000025,0.023820,1527,73403
3,1,176.04,6075017604,"$2,436","$123,944",700,921,921,350,405,...,G5020,S,111719,0,37.779858,-122.411743,0.000011,0.015468,2436,123944
4,1,177.00,6075017700,"$1,056","$165,789",227,"1,041","1,041",467,233,...,G5020,S,904078,0,37.768044,-122.412492,0.000092,0.047902,1056,165789

In [146]:
geo_total["Median HH Inc Int"]

0      42383
1          0
2      73403
3     123944
4     165789
       ...
62         0
63         0
64    117685
65         0
66         0
Name: Median HH Inc Int, Length: 67, dtype: int64

In [147]:
median_median_bool = geo_total[geo_total['Median HH Inc Int'] != 0]
median_median = int(median_median_bool['Median HH Inc Int'].median())
median_median

149483

In [148]:
geo_total['Median HH Inc Int'] = geo_total['Median HH Inc Int'].replace(to_replace=0, value=median_median)

In [149]:
geo_total.head()

,Block Group,Cencus Tract,Geoid1,Weighted HH Inc,Median HH Income_x,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,...,mtfcc,funcstat,aland,awater,intptlat,intptlon,Shape__Area,Shape__Length,Weighted HH Inc Int,Median HH Inc Int
0,1,124.05,6075012405,$836,"$42,383",703,"1,332","1,332",512,204,...,G5020,S,295197,0,37.779519,-122.417462,0.000030,0.024195,836,42383
1,1,176.02,6075017602,$0,$0,953,"1,898","1,898",545,717,...,G5020,S,273225,0,37.782124,-122.407018,0.000028,0.025162,2697,149483
2,1,176.03,6075017603,"$1,527","$73,403",741,"1,151","1,151",430,432,...,G5020,S,248651,0,37.776309,-122.414341,0.000025,0.023820,1527,73403
3,1,176.04,6075017604,"$2,436","$123,944",700,921,921,350,405,...,G5020,S,111719,0,37.779858,-122.411743,0.000011,0.015468,2436,123944
4,1,177.00,6075017700,"$1,056","$165,789",227,"1,041","1,041",467,233,...,G5020,S,904078,0,37.768044,-122.412492,0.000092,0.047902,1056,165789

In [150]:
columns = geo_total.columns.tolist()
last_two_columns = columns[-2:]
remaining_columns = columns[:-2]
new_order = remaining_columns[:2] + last_two_columns + remaining_columns[2:]
geo_total = geo_total[new_order]
geo_total.head()

,Block Group,Cencus Tract,Weighted HH Inc Int,Median HH Inc Int,Geoid1,Weighted HH Inc,Median HH Income_x,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total: (Population Race P8 Census 2020.csv),...,name_,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,Shape__Area,Shape__Length
0,1,124.05,836,42383,6075012405,$836,"$42,383",703,"1,332","1,332",...,124.05,Census Tract 124.05,G5020,S,295197,0,37.779519,-122.417462,0.000030,0.024195
1,1,176.02,2697,149483,6075017602,$0,$0,953,"1,898","1,898",...,176.02,Census Tract 176.02,G5020,S,273225,0,37.782124,-122.407018,0.000028,0.025162
2,1,176.03,1527,73403,6075017603,"$1,527","$73,403",741,"1,151","1,151",...,176.03,Census Tract 176.03,G5020,S,248651,0,37.776309,-122.414341,0.000025,0.023820
3,1,176.04,2436,123944,6075017604,"$2,436","$123,944",700,921,921,...,176.04,Census Tract 176.04,G5020,S,111719,0,37.779858,-122.411743,0.000011,0.015468
4,1,177.00,1056,165789,6075017700,"$1,056","$165,789",227,"1,041","1,041",...,177.00,Census Tract 177,G5020,S,904078,0,37.768044,-122.412492,0.000092,0.047902

In [151]:
geo_total.drop(columns=["Weighted HH Inc", "Median HH Income_x", "Total: (Population Race P8 Census 2020.csv)", "name_", "geoid"])

,Block Group,Cencus Tract,Weighted HH Inc Int,Median HH Inc Int,Geoid1,Total (Household Count Census 2020.csv),Total: (Population Race P3 Census 2020.csv),Total:!!White alone,Total:!!Asian alone,Total:!!Two or More Races,...,trctce,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,Shape__Area,Shape__Length
0,1,124.05,836,42383,6075012405,703,"1,332",512,204,134,...,NaN,Census Tract 124.05,G5020,S,295197,0,37.779519,-122.417462,0.000030,0.024195
1,1,176.02,2697,149483,6075017602,953,"1,898",545,717,133,...,NaN,Census Tract 176.02,G5020,S,273225,0,37.782124,-122.407018,0.000028,0.025162
2,1,176.03,1527,73403,6075017603,741,"1,151",430,432,106,...,NaN,Census Tract 176.03,G5020,S,248651,0,37.776309,-122.414341,0.000025,0.023820
3,1,176.04,2436,123944,6075017604,700,921,350,405,75,...,NaN,Census Tract 176.04,G5020,S,111719,0,37.779858,-122.411743,0.000011,0.015468
4,1,177.00,1056,165789,6075017700,227,"1,041",467,233,89,...,NaN,Census Tract 177,G5020,S,904078,0,37.768044,-122.412492,0.000092,0.047902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,3,615.06,2697,149483,6075061506,830,"1,297",474,650,91,...,NaN,Census Tract 615.06,G5020,S,112895,0,37.787659,-122.391017,0.000012,0.018634
63,3,615.08,2697,149483,6075061508,346,590,277,209,74,...,NaN,Census Tract 615.08,G5020,S,227943,152297,37.785752,-122.386381,0.000039,0.031041
64,4,176.03,3125,117685,6075017603,946,"1,435",543,653,122,...,NaN,Census Tract 176.03,G5020,S,248651,0,37.776309,-122.414341,0.000025,0.023820
65,4,178.04,2697,149483,6075017804,474,680,289,234,67,...,NaN,Census Tract 178.04,G5020,S,320289,0,37.777629,-122.406724,0.000033,0.024918
66,4,180.00,2697,149483,6075018000,376,"1,727",518,250,322,...,NaN,Census Tract 180,G5020,S,933506,0,37.775335,-122.402284,0.000095,0.053407

In [152]:
geo_total.to_csv("/Users/brandonyu/Downloads/geo_df.csv")